<link rel="stylesheet" href="/css/style.css">
<div id="score">
    <span>Score: <span id="points">0</span></span>
    <span>Score Negative Modifier: <span id="scoreNegativeModifier">0</span></span>
    <span><span id="pauseGame">||</span></span>
</div>
<canvas id="canvas1"></canvas>