<link rel="stylesheet" href="/css/style.css">
<div id="score">
    <span>Score: <span id="points">0</span></span>
    <span>Escapes: <span id="escapes">0</span></span>
</div>
<canvas id="canvas1"></canvas>