<nav class="navbar navbar-expand-lg" id="navbarCustom">
    <a class="navbar-brand" id="title" style="color: white" href="http://localhost:3001/#">Courts &#38; Revival</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav ml-auto" id="loginSignup">
            <li class="nav-item">
                <div class="navbar-nav ml-auto action-buttons">
                    <div class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle sign-up-btn"
                            aria-expanded="false">Login</a>
                        <div class="dropdown-menu action-form">
                            <form action="/examples/actions/confirmation.php" class='login-form' method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" id='userName' placeholder="Username" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id='password' placeholder="Password"
                                        required="required">
                                </div>
                                <input type="submit" class="btn btn-primary btn-block" value="Login">
                                <div class="text-center mt-2">
                                    <a href="#">Forgot Your password?</a>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle sign-up-btn"
                            aria-expanded="false">Sign up</a>
                        <div class="dropdown-menu action-form">
                            <form action="/examples/actions/confirmation.php" class='signup-form'method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="emailSignup" placeholder="Email" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="userNameSignup" placeholder="Username" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="passwordSignup" placeholder="Password"
                                        required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password"
                                        required="required">
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label"><input type="checkbox" required="required"> I accept
                                        the <a href="#">Terms &amp; Conditions</a></label>
                                </div>
                                <input type="submit" class="btn btn-primary btn-block" value="Sign up">
                            </form>
                        </div>
                    </div>
                    <div class="form-group" id="slider">
                    <h5>Volume</h5>
                    <input type="range" class="form-control-range" id="formControlRange" value="0" min="0" max="1"
                        step="0.01">
                </div>
                </div>
            </li>
        </ul>
    </div>
</nav>