<link rel="stylesheet" href="/css/homepage.css">
{{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-12">
    <h2>{{user.username}}</h2>
<p>Cool.</p>
  </div>
</div>
{{/each}}
{{> navbar}}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <img id="backgroundImage" src="/images/bull.png" />
            <img id="backgroundImage" src="/images/goathome.png" />
        </div>
        <div class="col-6">
            <button class="btn btn-primary" id="startGame">Start Game</button>
            <button class="btn btn-primary" id="howtoplay">How to Play</button>
            <button class="btn btn-primary" id="viewHighscore">View Highscore</button>
        </div>
    </div>
</div>


<script src="/js/homepagemusic.js"></script>
<script src="/js/login.js"></script>
