<link rel="stylesheet" href="/css/homepage.css">
{{> navbar}}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <img id="backgroundImage" src="/images/Untitled.png" />
        </div>
        <div class="col-6">
            <button class="btn btn-primary" id="startGame">Start Game</button>
            <button class="btn btn-primary" id="startGame">How to Play</button>
            <button class="btn btn-primary" id="startGame">View Highscores</button>
        </div>
    </div>
</div>

<div>
    <img id="backgroundImage" src="/images/dodgeball image.png"/>
</div>
<button class="btn btn-primary" id="startGame">Start Game</button>
<script src="/js/homepagemusic.js"></script>
<script src="/js/login.js"></script>
