<link rel="stylesheet" href="/css/homepage.css">
{{> navbar}}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <img id="backgroundImage" src="/images/bull.png" />
            <img id="backgroundImage" src="/images/goathome.png" />
        </div>
        <div class="col-6">
            <button class="btn btn-primary" id="startGame">Start Game</button>
            <button class="btn btn-primary" id="howtoplay">How to Play</button>
            <button class="btn btn-primary" id="viewHighscore">View Highscore</button>
        </div>
    </div>
</div>
{{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}}

<script src="/js/homepagemusic.js"></script>
<script src="/js/login.js"></script>
