<link rel="stylesheet" href="/css/homepage.css">
{{> navbar}}
<style>
    * {
        text-align: center;
    }
    .h1, .h2, .h3 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
}
    .p1, .p2, .p3 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: small;
    font-weight: lighter;
}
</style>
<h1>HOW TO PLAY</h1>
<p1>Move: Arrow keys [up, down, left right]
    <br>
    Throw: Spacebar</p1>
<br>
<br>
<h2> RULES </h2>
<p2>Positive Score: Throw a ball, hit an enemy, score a point! 
    <br> 
    Negative Score: If an enemy makes it past you, their score increases by 5!</p2>
<br>
<br>
<h3>Win/Lose Condition</h3> 
<p3>A certain colorful orb may be key for achieving a high score.
    <br> Play until the enemy team score is higher than yours.
    <br> Remember, their score increases by 5 each time they score - so keep up!</p3>

<script src="/js/homepagemusic.js"></script>