{{> navbar}}
<h1>HOW TO PLAY</h1>
<h2>Space: Throw a ball</h2>
<h2>Arrow keys [up, down, left right]: Moves your character in the corresponding direction</h2>
<h3>Increase Score: Throw a ball, hit an enemy, score a point!</h3>
<h3>Negative Score Modifier: If an enemy makes it past you, your score is reduced by 1!</h3>
<script src="/js/homepagemusic.js"></script>