<link rel="stylesheet" href="/css/homepage.css">
{{> navbar}}
<h1>HOW TO PLAY</h1>
<h2>Space: Throw a ball</h2>
<h2>Arrow keys [up, down, left right]: Moves your character in the corresponding direction</h2>
<h3>Increase Score: Throw a ball, hit an enemy, score a point!</h3>
<h3>Negative Score Modifier: If an enemy makes it past you, their score increases by 5!</h3>
<h3>Win/Lose Condition: It's a game of stamina, really. A certain colorful orb may be key for achieving a high score. Play until the enemy team score is higher than yours. Remember, their score increases by 5 each time they score - so, you have to keep up!</h3>
<script src="/js/homepagemusic.js"></script>