<link rel="stylesheet" href="/css/homepage.css">
{{> navbar}}
<h1>HOW TO PLAY</h1>
<h2>Move: Arrow keys [up, down, left right]</h2>
<h2>Throw: Spacebar</h2>
<br>
<br>
<h3> RULES </h3>
<h4>Positive Score: Throw a ball, hit an enemy, score a point!</h4>
<h4>Negative Score: If an enemy makes it past you, their score increases by 5!</h4>
<br>
<br>
<h5>Win/Lose Condition</h5> 
A certain colorful orb may be key for achieving a high score.<br> Play until the enemy team score is higher than yours.<br> Remember, their score increases by 5 each time they score - so keep up!</h4>
<script src="/js/homepagemusic.js"></script>