* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formcontainer {
    border-style: ridge;
    border-color: lightcoral;
    border-width: 5px;
    object-position: ;
}
