* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#formcontainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
}

#formControlRange {
    position: fixed;
    border-width: 5px;
    top: 0;
    left: 0;
    width: 15vw;
}
