 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* Login container CSS */


#score {
    position: absolute;
    color: red;
    top: 0;
}

#pauseGame {
    position: fixed;
    color: green;
    top: 0;
    right: 0;
    font-weight: 900;
}

@media (min-width: 768px) {
    #formcontainer{
        width:500px;
    }
}

